config.symlink/*
!config.symlink/xmonad
config.symlink/xmonad/**/*.hi
config.symlink/xmonad/**/*.o
config.symlink/nvim/plugged
!config.symlink/alacritty
!config.symlink/chromium-flags.conf
!config.symlink/fontconfig
!config.symlink/git
!config.symlink/i3status-rust
!config.symlink/mako
!config.symlink/nvim
!config.symlink/sway
!config.symlink/tofi
fonts.symlink/*
histories.symlink/*
!histories.symlink/.keep
local.symlink/*
!local.symlink/bin
task.symlink/*
!task.symlink/.keep
wallpapers.symlink/*
