config.symlink/*
!config.symlink/chrome-flags.conf
!config.symlink/git
histories.symlink/*
task.symlink/*
!task.symlink/.keep
vim.symlink/*
xmonad.symlink/*
!xmonad.symlink/*.hs
!xmonad.symlink/lib
xmonad.symlink/lib/*
!xmonad.symlink/lib/*.hs
wallpapers.symlink/*
