[user]
  name = Christoph Schiessl
  email = cs@proactive.cc

[diff]
[color]
  ui = auto

[alias]
  st = status --short
  c = commit --verbose
  aa = add --all
  amend = commit --amend
  co = checkout
  ds = diff --stat
  dsc = diff --stat
  di = diff
  wdi = diff --word-diff
  dc = diff --cached
  wdc = diff --cached --word-diff
  f = fetch
  fa = fetch --all
  b = branch
  ba = branch --all

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  h = !git r -1
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all

[push]
  default = simple

[merge]
  tool = vimdiff

[core]
  excludesFile = ~/.gitignore
